.background {
    background-color: snow;
    color: black;
    font-family: Arial, sans-serif;
}

.givuzz  {
    color: darkblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

.image_of_me {
    clip-path: circle();
    width: 480px;
    display: block;
    margin: auto;
}

.presentation_p {
    text-align: center;
    display: block;
    padding-top: 25px;
    width: 800px;
    margin: auto;
}

.div {
    color: white;
    width: 550px;
    height: 250px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-top: 15px;
}

.projects_div {
    background-color: dodgerblue;
}

.university_div {
    background-color: darkseagreen;
}

.others_div {
    background-color: palevioletred;
}

.div_title {
    padding-right: 50px;
    width: 170px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.div_expand {
    clip-path: circle();
    width: 30px;
    opacity: 75%;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: 2;
}

.expanded {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 0px;
    border-radius: 0px;
}

.hidden-content {
    display: block;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.hidden_projects {
    display: block;
    transition: opacity 0.5s ease-in-out;
}

.hidden_university {
    display: block;
    transition: opacity 0.5s ease-in-out;
}

.hidden_others {
    display: block;
    transition: opacity 0.5s ease-in-out;
}

.contacts_p {
    text-align: center;
    display: block;
    padding-top: 25px;
    width: 800px;
    margin: auto;
}

.social_icon {
}

@media screen and (max-width: 1000px) {
    .presentation_p {
        width: 80%;
    }

    .contacts_p {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .image_of_me {
        width: 80%;
    }

    .presentation_p {
        width: 95%;
    }

    .div {
        width: 95%;
    }

    .contacts_p {
        width: 95%;
    }

    .div_expand {
        width: 30px;
    }
}

@media screen and (max-width: 300px) {
    .div_title {
        width: 50px;
    }
}

@media screen and (max-width: 200px) {
    .image_of_me {
        width: 155px;
    }

    .presentation_p {
        width: 155px;
    }

    .div {
        width: 155px;
    }

    .contacts_p {
        width: 155px;
    }

    .div_expand {
        width: 30px;
    }
}