.background {
    background-color: snow;
    color: black;
    font-family: Arial, sans-serif;
}

.givuzz  {
    color: darkblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

.image_of_me {
    clip-path: circle();
    width: 480px;
    display: block;
    margin: auto;
}

.presentation_p {
    text-align: center;
    display: block;
    padding-top: 25px;
    width: 800px;
    margin: auto;
}

.div {
    color: white;
    width: 550px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding-left: 10px;
}

.projects_div {
    background-color: dodgerblue;
}

.university_div {
    background-color: darkseagreen;
}

.others_div {
    background-color: palevioletred;
}

.div_title {
    padding-top: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 22.5px;
    font-weight: bold;
}

.contacts_p {
    text-align: center;
    display: block;
    padding-top: 25px;
    width: 800px;
    margin: auto;
}

.social_icon {
}

@media screen and (max-width: 1000px) {
    .presentation_p {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .image_of_me {
        width: 80%;
    }

    .presentation_p {
        width: 155px;
    }
}

@media screen and (max-width: 200px) {
    .image_of_me {
        width: 155px;
    }

    .presentation_p {
        width: 145px;
    }
}